body{
	color: white;
    background: url(cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   

}
img{
    border-radius: 12px;
    border: 1px solid white;
    padding: 5px;
}
p{
    color: black;
    background-color: black;
}
h1{
    padding: 10px 450px;
}
h2{
font-family: Tahoma, Verdana, sans-serif;
}